html{
  font-size: 16px;
  font-family: 微软雅黑;
}
@media (max-width: 360px){
  html {
    font-size: 13px;
  }
}
body{
  background-color:#f2f2f2;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
nav{
  background-color: #ffffff;
  padding: 2px;
}
.logo{
  width: 3rem;
  vertical-align: bottom;
}
.logo+div{
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.logo+div>span{
  font-size: .65rem;
}
.content{
  margin: 0.35rem 0.55rem;
  padding: 0.5rem 0.3rem;
  background-color: #ffffff;
  border-radius: 3px;
}
.content>h4{
  font-size: 1.35rem;
  border-left: 3px solid red;
  padding-left: .5rem;
}
.detail>div>span{
  font-size: 1.15rem;
  border-left: 2px solid red;
  padding-left: .25rem;
  font-weight: bold;
}
.detail>div>p{
  text-indent: 0.35rem;
}
.category{
  border-top: 1px solid #CCC;
  margin-top: 0.24rem;
}
.category>a{
  overflow: hidden;
  display: block;
}
.category>a:hover{
  background-color: #ccc;
}
.category img{
  width: 15%;
  height: 3rem;
  float: left;
}
.category span{
  float: left;
  color:#000;
  margin-top: 0.9rem;
  text-align: center;
  width: 85%;
}
.auction {
  display: inline-block;
  width: 30%;
  margin-left: 2.5%;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 1px 10px #cbcbcb;
  margin-top: .5rem;
}
.auction>a{
  color: white;
  text-decoration: none;
  font-family: 微软雅黑;
}
.auction img ,.auction span{
  width: 100%;
}
.auction span {
  display: block;
  text-align: center;
  background-color: #D64937;
  margin-top: -4px;
  padding: .25rem;
}
.auction span:hover{
  background-color: #E56454;
}
.pageTool{
  text-align: center;
}
input[type="button"],input[type="submit"]{
  cursor: pointer;
  background-color: #0B7171;
  border-radius: 3px;
  border: medium none;
  color: white;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
}
input[type="button"]:hover,input[type="submit"]:hover{
  background-color: #33aaaa;
}
.detail input[type="button"]{
  
  background-color: #E03D3D;
}
.detail input[type="button"]:hover{
  background-color:#ee3030;
}
.jump{
  display: inline-block;
}
#cPage{
  width: 1.5rem;
  height: 1.2rem;
  vertical-align: baseline;
  padding: .15rem .15rem;
  text-align: center;
}
.detail > img {
    width: 100%;
}
.detail > * {
    margin-bottom: 1rem;
}
.user{
  overflow: hidden;
  padding: .5rem 0;
  border-bottom: 2px dotted #6D6D6D;
}

.comment{
  padding-left: 1rem;
  color: #6D6D6D;
  word-break: break-all;
}
.user>div{
  padding-left: 1rem;
}
.uname{
  padding-left: 1rem;
}
.user img{
  width: 3rem;
  border-radius: 50%;
}
.user>div>*{
  float: left;
}
#comm{
  width: 100%;
  resize:none;
  height: 100px;
}
input[type=text],input[type=password],textarea{ 
    width:100%;
    height:2rem;
    margin-bottom:1rem; 
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#preOrder{
  position: fixed;
  display: none;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
}
#preOrder input[type="submit"]{
  float: right;
}
#preOrder>form{
  padding: .5rem .3rem;
  border-radius: 5px;
  width: 80%;
  margin: 15% auto 0 auto; 
  background-color: #f2f2f2;
  position: relative;
}
#preOrder fieldset{
  border:none;
}
#back{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  padding: 0.2rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  color: white;
  background-color: #E03D3D;
  right: -0.5rem;
  top: -.5rem;
  cursor:pointer;
}
#back>span{
  position: absolute;
  left: 0.4rem;
  top: -.5rem;
}
